@using System.Net
@attribute [StreamRendering]
@inject BasketServiceClient Basket
@implements IDisposable

<a aria-label="cart" href="cart" class="hello-cart">
    <img role="presentation" src="icons/cart.svg" />
    @if (basketItems?.Count > 0)
    {
        <span class="cart-badge">@TotalQuantity</span>
    }
</a>

@code {
    IDisposable? basketStateSubscription;
    private IReadOnlyCollection<BasketItem>? basketItems;


    CustomerBasket? customerBasket;
bool basketIsAvailable;

[Parameter]
public EventCallback<bool> BasketAvailabilityChanged { get; set; }

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    private int? TotalQuantity => basketItems?.Sum(i => i.Quantity);

    public void Dispose()
    {
        basketStateSubscription?.Dispose();
    }
}